<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script>
        var ROOT_URL = '@Url.Content("~/")';
        var ROOT_API_URL = '@Url.Content("~/api/")';
        var ROOT_IMAGES_URL = '@Url.Content("~/Images/")';
    </script>

    @Styles.Render("~/bundles/coreCSS")
    @Scripts.Render("~/bundles/coreJS")
</head>
<body>
    @RenderBody()
</body>
</html>